a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}
  
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    font-size: 36px;
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #915056;
    color: white;
}

button:focus {
    outline: none;
}
  